.loll{
    display: flex;
    justify-content: space-around;
}

.homeIconn,.listIconn{
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    max-width: 400px;
    margin: auto;
    margin-top: 95px;
  }
  
  h2 {
    margin-bottom: 16px;
  }
  
  .textField {
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
  }
  
  .button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 16px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  .itemName {
    font-weight: bold;
  }
  
  .itemPrice {
    color: #888;
  }
  